<div *ngIf="linkDashService.app">
  <p>{{linkDashService.app.name}}</p>
  <table>
    <tr>
      <td>Pause: {{linkDashService.app.pause}}</td>
      <td>Units: {{linkDashService.app.martians.length}} - {{linkDashService.app.squares.length}} -
        {{linkDashService.app.shots.length}}</td>
      <td>Into: {{linkDashService.app.into1}} / {{linkDashService.app.into2}} /{{linkDashService.app.into3}}</td>
    </tr>
    <tr>
      <td>toMove: {{linkDashService.app.toMove}}</td>
      <td>toMove: {{linkDashService.app.martians[linkDashService.app.toMove].color}}</td>
      <td></td>
    </tr>
  </table>

  <!-- <ag-grid-angular style="width: 500px; height: 500px;" class="ag-theme-alpine" [rowData]="rowData"
    [columnDefs]="columnDefs">
  </ag-grid-angular>
</div>-->

  <h3>Messages <button class="clear"
  (click)="linkDashService.clear()">Clear</button></h3>
  <div *ngIf="linkDashService.messages.length">
    <div *ngFor='let message of linkDashService.messages'> {{message}} </div>
  </div>